[submodule "hw/VexiiMico"]
	path = hw/VexiiMico
	url = git@github.com:HKUSTGZ-MICS-LYU/VexiiRiscv-MiCo.git
[submodule "hw/bitfusion"]
	path = hw/bitfusion
	url = git@github.com:HKUSTGZ-MICS-LYU/bitfusion.git
[submodule "project"]
	path = project
	url = git@github.com:HKUSTGZ-MICS-LYU/MiCo-SW.git
